table,
td {
    padding: 5px;
}

.stat {
    margin-left: auto;
    display: flex;
}

body {
    font-family: "Lato", sans-serif;
}

body>.home.container {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.home .left-sidebar {
    padding: 20px;
    min-width: 220px;
    flex-shrink: 0;
}

.home .main {
    flex-grow: 1;
    padding: 40px;
}

.home .main .total-row {
    float: left;
}

.home .main .pagination_limit {
    padding-left: 20px;
    float: right;
}

.button {
    font-size: 9px;
}

#search_bar_fields_select {
    width: 20%;
}