.grid-list-table .grid-item-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}
.grid-item-table__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.grid-list-table .grid-item-table__table-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.grid-list-table .grid-item-table__duration {
    font-size: 0.8em;
    color: #666;
    background-color: #ffc107;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    text-align: center;
}

.grid-list-table .grid-item-table__duration-value {
    font-size: 1.4em;
    color: #666;
    font-weight: 500;
    margin-right: 0.5rem;
    
}

.grid-list-table .grid-item-table__content {
    word-wrap: break-word;
}

.grid-body__header-left-number-of-records {
    font-size: 0.8em;
    font-weight: bold;
    color: #333;
}

.btn-yellow {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
    font-weight: bold;
}