<div class="grid-list-table">
    <div class="grid-item-table__header">
        <div class="grid-item-table__table-name"></div>
        <div class="grid-item-table__duration">
            <div class="grid-item-table__duration-label">Duration</div>
            <div class="grid-item-table__duration-value"></div>
        </div>
    </div>
    <div class="grid-item-table__content"></div>
    <div class="grid-item-table__actions">
        <button class="btn btn-success grid-item-table__action grid-item-table__action--load">
            Load
        </button>
        <button class="btn btn-primary grid-item-table__action grid-item-table__action--edit">
            <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-danger grid-item-table__action grid-item-table__action--delete">
            <i class="fas fa-trash"></i>
        </button>
    </div>
    <div class="grid-item__created-at"></div>
</div>