<div class="form-inline">
    <label> Show
    <select class="form-select" id="select_pagination_limit" aria-label="Default select example">
        <option value="8" >8</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    records per page</label>

</div>