<div class="modalListTable">
    <div class="grid-list-table">
        <label for="table-content" class="grid-item-table__content"></label><br>
        <label for="table-name" class="grid-item-table__table-name"></label><br>
        <label for="table-duration-value" class="grid-item-table__duration-value"></label><br>
    </div>
</div>

