<div class="topnav">
    <a href="#">Home</a>
    <a href="#">News</a>
    <a href="#">Contact</a>
    <a class="active logout" href="index.html" id="alogout"><i class="fa fa-flip-horizontal fa-sign-out-alt"></i></a>
</div>